:root {
  --first-logo-color: #2196f3;
  --second-logo-color: #212121;
  --third-logo-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --first-btn-color: #212121;
  --second-btn-color: #2196f3;
  --gra: linear-gradient (rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

textarea {
  resize: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section__title {
  font-size: 36px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: #2196f3;
}

.soc-list__icon {
  fill: #afb1b8;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover .soc-list__icon {
  fill: #ffffff;
}

.no-scroll {
  overflow: hidden;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
  }
}

.modal-field {
  margin-bottom: 10px;
}
.modal-field:nth-child(4) {
  margin-bottom: 0;
}

.input-label {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  margin-top: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover, .modal-input:focus {
  border-color: #2196f3;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-icon, .modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  margin-top: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus, .modal-comment:active {
  border-color: #2196f3;
}
.modal-comment::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.7142px;
    letter-spacing: 0.03em;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-check:checked + .check-text span {
  background-color: #2196f3;
  border: none;
  fill: #ffffff;
}
.modal-check:focus + .check-text span {
  border-color: #2196f3;
}

.modal-agreement {
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-left: 4px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0 52px;
  border: none;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 1200px;
}

.header__navigation {
  margin-right: auto;
}

.menu {
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__element1 {
  color: var(--first-logo-color);
}

.logo__element2 {
  color: var(--second-logo-color);
}

.logo__element3 {
  color: var(--third-logo-color);
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}
.menu__link:active {
  color: #000000;
}

.current {
  color: #2196f3;
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
  }
}

.contact__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .contact__item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.contact__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.header-contact-mail {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-mail:hover, .header-contact-mail:focus {
  color: #2196f3;
}

.header-contact-tel {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-tel:hover, .header-contact-tel:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact__tel {
    margin-left: 30px;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
}
.contact__link:hover .contact__icon {
  fill: currentColor;
}

.menu-open {
  background-color: transparent;
  border: none;
}
.menu-open:active, .menu-open:focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #ffffff;
}
.mobile-menu > .mobile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-close {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  background-color: transparent;
  border: none;
}
.menu-close:active, .menu-close:focus {
  fill: #2196f3;
}

.mobile-container {
  display: block;
  position: absolute;
  width: 100%;
  padding: 48px 40px;
  margin: 0 auto;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:active, .menu-list__link:focus {
  color: #2196f3;
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-contact__list {
  margin-bottom: 32px;
}

.menu-list__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__tel:active, .menu-list__tel:focus {
  color: #2196f3;
}

.menu-list__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__email:active, .menu-list__email:focus {
  color: #2196f3;
}

.mob-soc {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.mob-soc__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  display: flex;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-mob-2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  max-width: 360px;
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__title {
  font-size: 24px;
  line-height: 1.75;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  font-family: "Roboto";
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
  }
}

.spacial-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.spacial-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .spacial-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .spacial-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.spacial-list__picture {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .spacial-list__picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .spacial-list__picture {
    width: 270px;
  }
}

.spacial-list__icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.spacial-list__uptitle {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .spacial-list__uptitle {
    text-align: left;
  }
}

.spacial-list__text {
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.doing__container {
  display: block;
}
@media screen and (max-width: 1199px) {
  .doing__container {
    display: none;
  }
}

.doing {
  padding-top: 0;
}

.doing__title {
  margin-top: 0;
  text-align: center;
}

.doing-list {
  display: flex;
  gap: 30px;
  position: relative;
}

.doing-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background: #f5f4fa;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.team__title {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
  }
}

.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.card {
  width: 100%;
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 10px;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}

.client__title {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .client__title {
    font-size: 28px;
  }
}

.client-list {
  display: flex;
  gap: 30px;
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover {
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .client-list__link {
    width: calc((100% - 60px) / 3);
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__link {
    width: calc((100% - 150px) / 6);
    width: 170px;
  }
}

.client-list__icon {
  width: 106px;
  height: 50px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover .client-list__icon {
  fill: #2196f3;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-nav {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.btn-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-link:hover, .btn-link:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.nav-border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.nav-uptitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin-bottom: 4px;
}

.nav-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.img-nav {
  flex-basis: calc((100% - 60px) / 3);
}

.img-nav {
  display: block;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.img-top-wrap {
  position: relative;
  overflow: hidden;
}

.img-top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.img-nav:hover .img-top-text {
  transform: translateY(0);
}

.img-nav-item:hover,
.img-nav-item:focus {
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  max-width: 370px;
}

.footer {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .logo-footer {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-footer {
    display: flex;
    justify-content: center;
  }
}

.address {
  margin-top: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-wrap {
    display: flex;
    align-items: baseline;
  }
}

.contacts-list__item {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 768px) {
  .contacts-list__item {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item {
    display: flex;
    justify-content: center;
  }
}

.contacts-list__map {
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__map:hover, .contacts-list__map:focus {
  color: #2196f3;
}

.contacts-list__mail {
  color: rgba(255, 255, 255, 0.6);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__mail:hover, .contacts-list__mail:focus {
  color: #2196f3;
}

.contacts-list__tel {
  color: rgba(255, 255, 255, 0.6);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__tel:hover, .contacts-list__tel:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__soc {
    margin-bottom: 0;
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__soc {
    margin-left: 70px;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer__title {
    justify-content: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__title {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__soc-list {
    margin-top: 20px;
  }
}

.footer__soc-icon {
  fill: #afb1b8;
}
.footer__soc-icon .footer__soc-icon {
  fill: #ffffff;
}

.footer__link {
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1199px) {
  .footer__input {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    align-items: baseline;
    margin-left: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
}

.online-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  height: 50px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.online-input:hover, .online-input:focus {
  border-color: #2196f3;
}
@media screen and (max-width: 479px) {
  .online-input {
    width: 290px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .online-input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

@media screen and (max-width: 479px) {
  .footer__btn-wrap {
    position: absolute;
    margin: 0 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__btn-wrap {
    position: absolute;
    margin: 0 125px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__btn-wrap {
    position: absolute;
    margin: 0 125px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__btn-wrap {
    position: relative;
  }
}

.footer__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 62px 10px 28px;
}

.footer__btn-icon {
  fill: #ffffff;
}
@media screen and (max-width: 479px) {
  .footer__btn-icon {
    position: absolute;
    bottom: 13px;
    right: 28px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__btn-icon {
    position: absolute;
    bottom: 13px;
    right: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__btn-icon {
    position: absolute;
    right: 28px;
    bottom: 13px;
  }
}/*# sourceMappingURL=main.css.map */