.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  min-height: 609px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  @include desktop {
    @include font(700, 20px, 23px, 0.03em);
  }
}

.modal-field {
  margin-bottom: 10px;
  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.input-label {
  @include font(null, 12px, 1.1666, 0.01em);
  color: #757575;
  display: block;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  margin-top: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:hover + &,
  .modal-input:focus + & {
    fill: #2196f3;
  }
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  padding: 12px 16px;
  resize: none;
  margin-top: 4px;
  margin-top: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  &:focus,
  &:active {
    border-color: #2196f3;
  }
  &::placeholder {
    @include font(400, 12px, 1.1666, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #757575;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  @include desktop {
    @include font(null, 14px, 1.7142px, 0.03em);
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  .modal-check:checked + & {
    background-color: #2196f3;
    border: none;
    fill: #ffffff;
  }
  .modal-check:focus + & {
    border-color: #2196f3;
  }
}

.modal-agreement {
  color: #2196f3;
  text-decoration-line: underline;
  padding-left: 4px;
}

.modal-btn {
  @include font(700, 16px, 1.875, 0.06em);
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0 52px;
  border: none;
  margin: 0 auto;
}
