:root {
  --first-logo-color: #2196f3;
  --second-logo-color: #212121;
  --third-logo-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --first-btn-color: #212121;
  --second-btn-color: #2196f3;
  --gra: linear-gradient (rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
