.client__title {
  text-align: center;
  @media screen and (max-width: 1199px) {
    font-size: 28px;
  }
}

.client-list {
  display: flex;
  gap: 30px;
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;
}

.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: #2196f3;
  }
  @include tablet {
    width: calc((100% - 60px) / 3);
    width: 226px;
  }
  @include desktop {
    width: calc((100% - 150px) / 6);
    width: 170px;
  }
}

.client-list__icon {
  width: 106px;
  height: 50px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .client-list__link:hover & {
    fill: #2196f3;
  }
}
