.footer {
  display: flex;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
  display: flex;
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
    align-items: baseline;
    flex-direction: row;
  }
}

.logo-footer {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.address {
  margin-top: 20px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  @include desktop {
    margin-top: 20px;
  }
}

.contacts-wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
  }
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.contacts-list__item {
  @include font(null, 14px, 1.5, 0.03em);
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.contacts-list__map {
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.contacts-list__mail {
  color: rgba(255, 255, 255, 0.6);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.contacts-list__tel {
  color: rgba(255, 255, 255, 0.6);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.footer__soc {
  // margin-bottom: 60px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
    margin-left: 165px;
  }
  @include desktop {
    margin-left: 70px;
  }
}

.footer__title {
  @include font(null, 14px, 1.1428, 0.03em);
  display: flex;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    justify-content: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}

.footer__soc-list {
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
  }
}

.footer__soc-icon {
  fill: #afb1b8;
  .footer__soc-icon & {
    fill: #ffffff;
  }
}

.footer__link {
  background: rgba(255, 255, 255, 0.1);
  // width: 100%;
  // height: 100%;
  // border-radius: 50%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // transition-property: background-color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   background-color: #2196f3;
  // }
}

.footer__input {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    margin-left: 93px;
  }
}

.footer__input-form {
  @media screen and (max-width: 1199px) {
    // display: flex;
    // flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
  }
}

.online-input {
  @include font(400, 16px, 1.25, 0.03em);
  height: 50px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: #2196f3;
  }

  @media screen and (max-width: 479px) {
    width: 290px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    @include font(400, 16px, 1.25, 0.03em);
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.footer__btn-wrap {
  @media screen and (max-width: 479px) {
    position: absolute;
    margin: 0 50px;
  }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: absolute;
    margin: 0 125px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    margin: 0 125px;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
  }
}
.footer__btn {
  @include font(700, 16px, 1.875, 0.06em);
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  // margin: 0 auto;
  padding: 10px 62px 10px 28px;
}

.footer__btn-icon {
  // position: absolute;
  // right: 28px;
  fill: #ffffff;
  @media screen and (max-width: 479px) {
    position: absolute;
    bottom: 13px;
    right: 28px;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    position: absolute;
    bottom: 13px;
    right: 28px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    right: 28px;
    bottom: 13px;
  }
}
