.team {
  background: #f5f4fa;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.team__title {
  // margin-bottom: 50px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card {
  width: 270px;
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card__subtitle {
  @include font(500, 16px, 1.1875, 0.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: 1.1875;
  // letter-spacing: 0.03em;
  color: var(--second-title-color);
  text-align: center;
  margin-bottom: 10px;
}

.card__text {
  @include font(400, 16px, 1.1875, 0.03em);
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.1875;
  // letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 16px;
}
